
/*
.blog-posts {
	position: relative;
	top: 100px;
	width: 60%;
	margin-right: 30px;
	float: right;
}
*/

.blog-posts {
	position: absolute;
	margin: 0 20px 0 20px;
}

.blog-header {
	position: relative;
	padding: 5px;
	height: 150px;
}

p {
	border: 1px solid;
	width: 100%;	
}