html {
	background-color: #ffffff;
	font-size: 1em;
	font-family: Verdana, Tahoma, Serif, Sans-serif;
}

nav {
	text-align: center;
	height: 50px;
	padding: 1px;
	border: 1px solid;
	margin: ;

}

.left-section {
	display: inline-block;
	position: relative;
	width: 45%;
	padding: 1px;
	border: 1px solid;
	margin: ;
}

.right-section {
	display: inline-block;
	width: 45%;
	float: right;
	padding: 1px;
	border: 1px solid;
	margin: ;
}

.contacting-me-nav img {
	padding: 0 10px 0 10px;
}