html {
	background-color: #C2EAC2;
	font-size: 1em;
	font-family: Verdana, Tahoma, Serif, Sans-serif;
}

/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: purple;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}

body{
	width: 1024px;
	margin: 0 auto;
	display: block;
}

header {
	border-bottom: 1px solid;
	height: 50px;
	margin-bottom: 10px;
}

.main-nav {
	position: relative;
	text-align: center;
	font-size: 1.5em;
	height: 50px;
	margin-top: 15px;
}
section{
	margin: 0 auto;
	display: inline-block;
	position: relative;

}


.right-section{
	background-color: #ffffff;
	border: 1px solid black;
	width: 400px;
	height: 500px;
	box-shadow: 5px 5px;
	margin-bottom: 50px;
}

.blog-index-right-section-content {
	position: absolute;
	display: inline-block;
	width: 350px;
	margin: 0 20px;

}

figcaption {
	text-align: center;
}

.social-media img {
	padding: 10px 10px 10px 10px;
}

.git img {
	padding-left: auto;
}

.quora img {
	padding-right: auto;
}

.about-me {
	position: absolute;
	display: inline-block;
	width: 350px;
	margin: 0 20px;
}

footer {
	margin-left: 25px;
	padding: 100px 0 0 20px;
    bottom: 0;
    width: 100%;
    height: 60px
}

.bold {
	font-weight: bold;
}

pre{
	background-color: #E6E6E6;
	margin: 15px 0;
	font-family: monospace;
}
