html {
	background-color: #ffffff;
	font-size: 1em;
	font-family: Verdana, Tahoma, Serif, Sans-serif;
}

header {
	border-bottom: 1px solid;
	height: 50px;
	margin-bottom: 10px;
}

.main-nav {
	position: relative;
	text-align: center;
	font-size: 1.5em;
	height: 50px;
	margin-top: 15px;
}

.left-section {
	display: inline-block;
	position: relative;
}

.right-section {
	width: 45%;
	height: 500px;
	display: inline-block;
	position: relative;
	border: 1px solid;
	box-shadow: 5px 5px;
	top: -42px;
}

.about-me {
	position: absolute;
	display: inline-block;
	width: 90px;
	margin: 0 20px 0 20px;
}

figcaption {
	text-align: center;
}

.social-media img {
	padding: 10px 10px 0 10px;
}

footer {
	height: 50px;
	margin-top: 30px;
}